# Object and temporary files
*.o
*.ko
*.mod.c
*.mod.o
*.symvers
*.order
*.cmd
*.tmp
*.markers
*.dwo
*.gcno
*.gcda
*.gcov

# Dependency files
*.d

# Backup files
*~
\#*\#
.\#*

# Kernel build directory (optional, in case you're using O=output/)
build/

